@mixin distribute-on-circle(
  $nb-items,
  $circle-size,
  $item-size,
  $class-for-IE: false
) {
  $half-item: ($item-size / 2);
  $half-parent: ($circle-size / 2);

  position: relative;
  width: $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  box-sizing: content-box;

  > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: $item-size;
    height: $item-size;
    margin: -$half-item;
  }

  $angle: (360 / $nb-items);
  $rot: 0;

  @for $i from 1 through $nb-items {
    @if not $class-for-IE {
      > :nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($half-parent) rotate($rot * -1deg);
      }
    }
    @else {
      > .#{$class-for-IE}#{$i} {
        //If CSS transforms are not supported
        $mt: sin($rot * pi() / 180) * $half-parent - $half-item;
        $ml: cos($rot * pi() / 180) * $half-parent - $half-item;
        margin: $mt 0 0 $ml;
      }
    }

    $rot: ($rot + $angle);
  }
}

#wrapper-flag {

  position: relative;
  overflow: hidden;

  .wrapper-circle {
    padding: 60px;
    position: relative;
    width: 100%;
    transition: .4s;
    overflow: hidden;
  }

  .circle-container {
    @include distribute-on-circle(12, 35vw, 6vw, false);
    margin: 0 auto;
    z-index: 2;
  }

  .circle-container img {
    display: block;
    width: 100%;
    border-radius: 50%;
  }

  .children-earth {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25vw;
    height: 25vw;
    transform: translate(-50%, -50%);
  }
}