#wrapper-text-image {

  .wrapper-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 1.5;
    padding: 15px;
  }

  .red {
    color: red;
  }

  .green {
    color: green;
  }

  .orange {
    color: orange;
  }

  .blue {
    color: dodgerblue;
  }

  .purple {
    color: mediumpurple;
  }

  .brown {
    color: brown;
  }

  .center {
    text-align: center;
  }

  .wrapper-image {
    text-align: center;
    height: 300px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}