#wrapper-language {
  height: 400px;

  .wrapper-image {
    display: inline-block;
    width: 30%;
    height: 100%;
    text-align: center;
    vertical-align: top;
  }

  .wrapper-display-language {
    display: inline-block;
    width: 70%;
    height: 100%;
    position: relative;

    & .absolute-language {
      position: absolute;
      font-size: 24px;
      font-weight: bold;
      font-family: 'Slabo 27px', serif;
    }

    & .arab {
      top: 10%;
      left: 8%;
      color: deepskyblue;
    }
    & .english {
      top: 10%;
      left: 52%;
      color: darkblue;
    }
    & .indian {
      top: 17%;
      left: 77%;
      color: deeppink;

    }
    & .french {
      top: 44%;
      left: 75%;
      color: deepskyblue;
    }
    & .african {
      top: 30%;
      left: 35%;
      color: darkgreen;
    }
    & .serbia {
      top: 50%;
      left: 60%;
      color: darkorange;
    }
    & .italian {
      top: 35%;
      left: 10%;
      color: darkblue;
    }
    & .spanish {
      top: 60%;
      left: 17%;
      color: peru;
    }
    & .china {
      top: 70%;
      left: 42%;
      color: deeppink;
    }
    & .germany {
      top: 73%;
      left: 86%;
      color: darkorange;
    }
    & .russian {
      top: 80%;
      left: 70%;
      color: peru;
    }
    & .portuguese {
      top: 80%;
      left: 10%;
      color: darkgreen;
    }

  }

}