#wrapper-image {
  padding: 30px;
  text-align: center;
}












#wrapper-headertitle {

  padding: 30px;

  .wrapper-tree-bird {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 35vw;

    img {
      width: 100%;
    }
  }

  .wrapper-title {
    width: 35vw;
    display: inline-block;
    text-align: center;
    vertical-align: middle;

    img {
      width: 100%;
    }
  }
}