#wrapper-headertitle {
  .wrapper-tree-bird {
    display: inline-block;
    vertical-align: middle;
    width: 50%;

    img {
      width: 100%;
    }
  }

  .wrapper-title {
    width: 50%;
    display: inline-block;
    vertical-align: middle;

    img {
      width: 100%;
    }
  }
}

#wrapper-image {
  padding: 30px;
  text-align: center;

  img {
    width: 55%;
  }
}












