$c-heading-alpha: 62px;
$c-heading-bravo: 48px;
$c-heading-charlie: 36px;
$c-heading-delta: 28px;

$c-text-lead: 22px;
$c-text-body: 20px;
$c-text-lead-small: 18px;
$c-text-body-small: 16px;
$c-text-smallprint: 14px;