.wrapper-family-children {
  text-align: center;
  height: 750px;
  position: relative;
  opacity: .4;
  transition: .5s;
  overflow: hidden;

  &:hover {
    opacity: 1;
  }

  img {
    position: relative;
    top: -130px;
  }

  .family-children-gray {
    opacity: 1;
    position: absolute;
    top: -130px;
    left: 0;
    transition: .4s;

    &:hover {
      opacity: 0;
    }
  }
}
