#wrapper-sidebar {
  width: 20%;
  display: inline-block;
  vertical-align: top;

  a {
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    color: orangered;
    font-weight: bold;
    text-decoration: none;
  }

  .wrapper-item {
    text-align: center;
    margin: 30px;

    & img {
      width: 70%;
      transition: .5s;

    }

    &:hover img {
      transform: scale(1.1);
    }
  }
}

@import "divider/index";