#wrapper-headertitle {

  padding: 30px;
  //background: yellow;

  .wrapper-tree-bird {
    width: 40%;
    display: inline-block;
    //background: purple;
    text-align: center;
    vertical-align: middle;
  }

  .wrapper-title {
    //background: blue;
    width: 60%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
}