#wrapper-header-song {
  margin: 60px 0;
  display: flex;
  height: 500px;
  width: 100%;
  justify-content: space-around;
  align-items: center;

  .wrapper-title-flag {
    width: 50%;
    margin: 0 15px;

    .wrapper-title {
      width: 100%;
    }

    .title-song {
      font-size: 63px;
      text-align: center;
      margin: 15px 0;
    }

    .flag-song {
      text-align: center;
    }
  }

  .wrapper-image-song {
    width: 50%;
    text-align: center;
    height: 100%;
    margin: 0 15px;

    img {
      position: relative;
      width: auto;
      max-width: 100%;
      max-height: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

#wrapper-lyrics-song {
  display: inline-block;

  .wrapper-original-language {
    vertical-align: top;
    display: inline-block;
  }

  .wrapper-selected-language {
    vertical-align: top;
    display: inline-block;
    width: 50%;
  }

  .lyrics-text {
    display: inline-block;
    font-size: 1.3vw;
  }
}

#wrapper-video-image {
  display: inline-block;
  vertical-align: top;

  span {
    display: inline-block;
    width: 100%;
  }

  .wrapper-youtube-video {
    display: inline-block;
    vertical-align: middle;
  }

  .youtube-video {
    display: inline-block;
    margin-top: 30px;
    height: 21vw;
    width: 100%;
  }

  .image-pipilet-song {
    vertical-align: middle;
    display: inline-block;
    text-align: center;

    img {
      width: 13vw;
    }
  }

}

#wrapper-sheet {
  margin-top: 60px;
  text-align: center;

  img {
    width: 100%;
  }
}