#wrapper-presentation-page {
  padding: 0 30px;

  .wrapper-image-pipilet {
    width: 40%;
    float: left;

    img {
      width: 93%;
    }
  }

  .wrapper-text {
    font-family: 'Raleway', sans-serif;

    .text {
      margin: 30px;
      font-size: 20px;
    }
  }
}