.wrapper-second-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;

  .hidden {
    visibility: hidden;
  }

  .wrapper-little-draw {
    height: 25%;
    margin-left: auto;

    .little-draw {
      height: 100%;
    }
  }
}