#wrapper-colornumber {

  .wrapper-section-ingredient {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: .5s;

    .section {
      width: 100%;
    }

    .undisplay {
      transition: .5s;
      filter: grayscale(100%)
    }

    &:hover {
      .undisplay {
        filter: grayscale(0);
      }
    }
  }
}