#wrapper-colornumber {
  position: relative;
  overflow: hidden;

  .wrapper-color {
    opacity: 1;
    position: relative;
    height: 750px;
    width: 100%;
    transition: .5s;
    overflow: hidden;

  }

  .wrapper-number {
    opacity: 1;
    height: 750px;
    transition: .5s;
    overflow: hidden;


  }

  @import "number/index";
  @import "color/index";
}