#wrapper-colornumber {

  .wrapper-section-ingredient {
    text-align: center;
    height: 30vw;
    position: relative;
    width: 100%;
    transition: .5s;
    overflow: hidden;

    .section {
      position: absolute;
      top: 50%;
      left: 0;
      transform:  translateY(-50%);
      width: 100%;
    }

    .undisplay {
      transition: .5s;
      filter: grayscale(100%)
    }

    &:hover {
      .undisplay {
        filter: grayscale(0);
      }
    }
  }
}