#wrapper-color-page {

  .wrapper-section-color-number {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    transition: .5s;

    .wrapper-owls + .wrapper-owls {
      margin-top: 30px;
    }

    .wrapper-owls {
      width: 60%;

      .owls-inner {
        position: relative;

        .border {
          position: absolute;
          flex-wrap: wrap;
        }

        .width_color {
          width: 23%;
          height: 100%;
        }

        .color_0 {
          top: 0;
          left: 2%;
        }
        .color_1 {
          top: 0;
          left: 26%;
        }
        .color_2 {
          top: 0;
          left: 50.5%;
        }
        .color_3 {
          top: 0;
          left: 75%;
        }
      }

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}