#wrapper-header {
  height: 300px;
  background: blue;
  
  .wrapper-image{
    display: inline-block;
    width: 30%;
    background: orangered;
    height: 100%;
  }
  
  .wrapper-title{
    display: inline-block;
    width: 70%;
    background: aquamarine;
    height: 100%;
  }
  
}