#wrapper-header {

  .wrapper-image{
    display: inline-block;
    width: 20%;
    //background: orangered;
    text-align: center;
    vertical-align: middle;
  }
  
  .wrapper-title{
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    text-align: center;

    h1 {
      width: 100%;
      font-size: 72px;
      margin-bottom: 0;
      font-family: 'Slabo 27px', serif;
    }

  }
  
}