#family-children {
  width: 80%;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

#wrapper-display-flag {
  text-align: center;

  .flag {
    margin: 15px;
    display: inline-block;
    width: 9%;

    img {
      filter: grayscale(100%);
      width: 100%;

      &:hover {
        filter: grayscale(0);
      }
    }
  }
}