.wrapper-header-number {
  text-align: center;
  font-size: 70px;
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
  padding: 0 60px;
}

.wrapper-image-number {
  text-align: center;
}

#wrapper-display-flag {
  text-align: center;

  .flag {
    margin: 15px;
    display: inline-block;

    img {
      filter: grayscale(100%);

      &:hover {
        filter: grayscale(0);
      }
    }
    div {
      text-align: center;
    }
  }
}

#wrapper-image-pipilet {
  position: relative;

  .wrapper-pipilet-number {
    display: inline-block;
    text-align: center;
    width: 50%;
  }

  .wrapper-rainbow-mandala {
    display: inline-block;
    text-align: center;
    width: 50%;
  }

  .wrapper-number {
    position: absolute;
    top: 15%;
  }
}